<footer class="footer-2" role="contentinfo">

  <ul>
    <li><a href="/">Index</a></li>
  </ul>
  <div class="footer-logo">
    <a href="/">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
    </a>
  </div>
  <ul>
    <li><a href="story">Story</a></li>
  </ul>
</footer>
