<header class="header" role="contentinfo">
  <div class="central-element">
    <ul>
      <li><a href="/">Team</a></li>
    </ul>
    <div class="header-logo">
      <a href="/">
        <img src="/assets/img/iwl.png" alt="Logo image">
      </a>
    </div>
    <ul>
      <li><a href="story">Story</a></li>
    </ul>
  </div>
</header>
