<h1>Story<h1>
  <section class="container">
    <article class="NoFlap">CLick to Toggle</article>
    <article class="FlapRight"></article>
    <article class="FlapLeft"></article>
    <article class="FlapRight"></article>
    <article class="FlapLeft"></article>
    <article class="FlapRight"></article>
    <article class="FlapLeft"></article>
    <article class="FlapRight"></article>
  </section>
